#jinja2: lstrip_blocks: "True"
apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  name: default-gateway
  namespace: {{ kubernetes_spices_istio_gateways_namespace }}
spec:
  # only the control plane components are installed (https://istio.io/latest/docs/setup/additional-setup/config-profiles/)
  profile: empty
  revision: {{ kubernetes_spices_istio_revision }}
  components:
    ingressGateways:
    # enable the default ingress gateway
    - name: {{ kubernetes_spices_istio_default_gateway_name }}
      # deploy to its own namespace
      namespace: {{ kubernetes_spices_istio_gateways_namespace }}
      enabled: true
      label:
        istio: ingressgateway
        {% if kubernetes_spices_istio_cluster_network is defined %}
        # matches spec.values.global.network in istiod deployment
        topology.istio.io/network: {{ kubernetes_spices_istio_cluster_network }}
        {% endif %}
      k8s:
        env:
          # Required by Gloo Mesh for east/west routing
          # sni-dnat adds the clusters required for AUTO_PASSTHROUGH mode
          - name: ISTIO_META_ROUTER_MODE
            value: "sni-dnat"
          {% if kubernetes_spices_istio_cluster_network is defined %}
          # traffic through this gateway should be routed inside the network
          - name: ISTIO_META_REQUESTED_NETWORK_VIEW
            value: "{{ kubernetes_spices_istio_cluster_network }}"
          {% endif %}
        service:
          type: LoadBalancer
          ports:
            # health check port (required to be first for aws elbs)
            - name: tcp-status-port
              port: 15021
              targetPort: 15021
            # main http ingress port
            - port: 80
              targetPort: 8080
              name: http2
            # main https ingress port
            - port: 443
              targetPort: 8443
              name: https
            # Port for gloo-mesh multi-cluster mTLS passthrough (Required for Gloo Mesh east/west routing)
            - port: 15443
              targetPort: 15443
              # Gloo Mesh looks for this default name 'tls' on an ingress gateway
              name: tls
            # Port to route external istiod requests e.g. integration of vm
            - name: tcp-istiod
              port: 15012
              targetPort: 15012
            # Port to Webhook mutations
            - name: tcp-webhook
              port: 15017
              targetPort: 15017
  values:
    gateways:
      istio-ingressgateway:
        injectionTemplate: gateway