#jinja2: lstrip_blocks: "True"
service:
  http:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/allow-shared-ip: test
  ssh:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/allow-shared-ip: test
gitea:
  admin:
    username: {{ gitea_admin_user.username }}
    password: '{{ gitea_admin_user.password }}'
    email: {{ gitea_admin_user.email }}