#jinja2: lstrip_blocks: "True"
discovery:
  enabled: {{ gloo_discovery_enabled | lower }}
  # disable auto function discovery
  fdsMode: DISABLED
settings:
  writeNamespace: {{ gloo_write_namespace }}
  watchNamespaces:
  {% for ns in gloo_watch_namespaces %}
    - {{ ns }}
  {% endfor %}
{% if gloo_proxy_nodeport %}
gatewayProxies:
  gatewayProxy:
    service:
      type: NodePort
      {% if control_plane_port_mappings is defined and kind_create %}
      httpNodePort:  {{ control_plane_port_mappings['30080']  | default(30080) }}
      httpsNodePort: {{ control_plane_port_mappings['30443']  | default(30443) }}
      {% endif %}
{% endif %}