apiVersion: batch/v1
kind: Job
metadata:
  name: keycloak-demo-setup-job
  namespace: {{ keycloak_namespace }}
  labels:
    app: keycloak-demo-setup-job
spec:
  template:
    spec:
      volumes:
        - name: scripts
          configMap:
            name: keycloak-demo-setup-job
            defaultMode: 0755
      containers:
        - name: tools
          image: ghcr.io/kameshsampath/tools
          imagePullPolicy: IfNotPresent
          args:
            - /bin/bash
            - -c
            - /apps/setup.sh
          volumeMounts:
            - mountPath: /apps
              name: scripts
      restartPolicy: OnFailure
  backoffLimit: 4
