apiVersion: v1
kind: Secret
metadata:
    name: pgsql-credentials
    namespace: {{ postgresql_namespace }}
data:
  POSTGRESQL_USER: {{ postgresql_admin_user | string | b64encode }}
  POSTGRESQL_USER: {{ postgresql_admin_password | string | b64encode }}
  POSTGRES_DB: {{ postgresql_db | string | b64encode }}
