#jinja2: lstrip_blocks: "True"
apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: {{ postgresql_namespace }}
spec:
  selector:
    app: postgresql
  ports:
    - port: 5432
      targetPort: 5432